<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <event-block sid="967382487309880">
            <conditions>
                <condition id="-2" name="On start of layout" sid="836056512410476" type="System" />
            </conditions>
            <actions>
                <action id="5" name="Check item exists" sid="309120815908979" type="LocalStorage">
                    <param id="0" name="Key">&quot;saveGame&quot;</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="790832227123180">
            <conditions>
                <condition id="9" name="On item exists" sid="493699384534429" type="LocalStorage">
                    <param id="0" name="Key">&quot;saveGame&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="11" name="Load" sid="848940284451405" type="Array">
                    <param id="0" name="JSON">tokenat(LocalStorage.ItemValue,0,&quot;/&quot;)</param>
                </action>
                <action id="11" name="Load" sid="809875744133182" type="arCoins">
                    <param id="0" name="JSON">tokenat(LocalStorage.ItemValue,1,&quot;/&quot;)</param>
                </action>
                <action id="5" name="Set frame" sid="988123994926175" type="buttonLevel">
                    <param id="0" name="Frame number">Array.At(Self.id)</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="463538513225843">
            <conditions>
                <condition id="10" name="On item missing" sid="370367835124947" type="LocalStorage">
                    <param id="0" name="Key">&quot;saveGame&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="2" name="Set at X" sid="367658729263094" type="Array">
                    <param id="0" name="X">0</param>
                    <param id="1" name="Value">1</param>
                </action>
                <action id="5" name="Set frame" sid="364008299062629" type="buttonLevel">
                    <param id="0" name="Frame number">Array.At(Self.id)</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="434277459618341">
            <conditions>
                <condition id="3" name="On touched object" sid="440546110492538" type="Touch">
                    <param id="0" name="Object">buttonLevel</param>
                </condition>
                <condition id="3" name="Compare frame" sid="347813905915763" type="buttonLevel">
                    <param id="0" name="Comparison">4</param>
                    <param id="1" name="Number">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-25" name="Go to layout (by name)" sid="137396807919203" type="System">
                    <param id="0" name="Layout">&quot;Level&quot; &amp; buttonLevel.id + 1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="208309736122220">
            <conditions>
                <condition id="3" name="On touched object" sid="370021843177454" type="Touch">
                    <param id="0" name="Object">btn_clear_levels</param>
                </condition>
            </conditions>
            <actions>
                <action id="-7" name="Set size" sid="933688284382978" type="btn_clear_levels">
                    <param id="0" name="Width">Self.Width * 0.9</param>
                    <param id="1" name="Height">Self.Height * 0.9</param>
                </action>
                <action id="3" name="Clear storage" sid="881282538844011" type="LocalStorage" />
                <action id="0" name="Clear" sid="635725161006472" type="Array" />
                <action id="0" name="Clear" sid="119964967386016" type="arCoins" />
                <action id="-16" name="Wait" sid="920961182378443" type="System">
                    <param id="0" name="Seconds">0.1</param>
                </action>
                <action id="-7" name="Set size" sid="137978277180051" type="btn_clear_levels">
                    <param id="0" name="Width">352</param>
                    <param id="1" name="Height">266</param>
                </action>
                <action id="-26" name="Restart layout" sid="705924106257218" type="System" />
            </actions>
        </event-block>
    </events>
</c2eventsheet>
